@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #fff
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 20px auto;
    width: 90%;
    min-height: 70vh;
}

.image {
  width: 30%;
  height: self;
  color: #5ab1bb;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #9e9e9e;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-height: 400;
}

.pagination .page-num:hover {
  background-color: #5ab1bb;
  color: #fff;
}

.pagination .active {
  background-color: #5ab1bb;
  color: #fff;
}
